img{
    width: 30px;
    float: right;
    margin: 20px 10px 30px;
}

footer{
    position: absolute;
    width: 100%;
    height: 121px;
    left: 0px;
    top: 903px;
    
    background: #BFBEBE;
}

p{
    position: center;
    font-family: "Arial Black";
    font-size: larger;
    display: inline-block;
    margin-left: 100px;
}